{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
			text-align: center;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper bg-primary">
		<ul>
			{% if is_granted('ROLE_ADMIN') %}
				<button>
					<a class="nav-link" href="{{ path('admin') }}">Dashboard</a>
				</button>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<button>
					<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
				</button>
			{% else %}
				<button>
					<a href={{ path('app_login')}}>Login</a>
				</button>
				<button>
					<a href={{ path('app_register')}}>Register</a>
				</button>
			{% endif %}
		</ul>
		<h1>Bienvenue sur votre compte personel chez Quai Antique</h1>
	</div>

{% endblock %}
